/* Global Scrollbar Styling */
* {
  scrollbar-width: thin;
  scrollbar-color: #d1d5db transparent;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #d1d5db;
  border-radius: 20px;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #9ca3af;
}
